.nav-container {
    background-color: #333;
    color: #edefee;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.nav-container ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-container ul li {
    margin-right: 10px;
    margin-left: 10px;
}

.nav-container ul li a {
    color: #edefee;
    text-decoration: none;
}
